<a href="https://colab.research.google.com/github/adriandii/Praktikum-DasProg/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Nama : Adrian Fardan Andi
# NIM : J0403231143
# Email : adriandi@apps.ipb.ac.id

hi, adrian

In [ ]:
# define function
def fun():
  print("My fun function")
# call function
fun()

My fun function

In [ ]:
# Here a,b are the parameters
def sum(a,b):
 print(a+b)

# Here the values 1,2 are arguments
sum(1,2)

Masukkan Suhu : 0
Suhu fahrenheitnya adalah :  32.0

In [ ]:
def greet(name, greeting):
 print(f"{greeting}, {name}!")
greet("Alice", "Hello") # "Hello, Alice!"

halo, adrian

In [ ]:
def greet(name, greeting):
 print(f"{greeting}, {name}!")
greet(greeting="Hi", name="Bob") # "Hi, Bob!"

hai, fadil

In [ ]:
def greet(name, greeting="Hello"):
 print(f"{greeting}, {name}!")
greet("Eve") # "Hello, Eve!"

asep
udin
ujang

In [ ]:
def print_args(*args):
 for arg in args:
    print(arg)
print_args(1, "apple", True) # 1\n"apple"\nTrue

1
apple
True

In [ ]:
def print_kwargs(**kwargs):
 for key, value in kwargs.items():
  print(f"{key}: {value}")
print_kwargs(name="Alice", age=30) # "name: Alice"\n"age: 30"

1
2
3
4

In [ ]:
def print_list(numbers):
 for num in numbers:
  print(num)
print_list([1, 2, 3, 4]) # 1\n2\n3\n4
def print_dict(my_dict):
 for key, value in my_dict.items():
  print(f"{key}: {value}")
print_dict({"name": "Bob", "age": 25}) # Output: "name: Bob"\n"age: 25"

1
2
3
4
name: Bob
age: 25

In [ ]:
def f(a, *b, c=6, **d): # compare it with def f(a, b=6, *c, **d)
 print(f"a: {a}")
 print(f"b: {b}")
 print(f"c: {c}")
 print(f"d: {d}")
f(1, 2, 3, x=4, y=5) # Default used
f(1, 2, 3, c=7, x=4, y=5) # Override default

In [ ]:
def add_numbers(a, b):
 """This function adds two numbers and
returns the result."""
 result = a + b
 return result
# Call the function with a return value
sum_result = add_numbers(5, 3)
print(f"The sum is: {sum_result}")

The sum is:  8

In [ ]:
def greet(name):
 """This function greets the person passed in as a
parameter."""
 print(f"Hello, {name}!")
# Call the function without a return value
greet("Alice")

Hello, Alice!

In [ ]:
if 'a' == 'a':
 def greet():
  return "Hello, World!"
else:
 def greet():
  return "Hi there!"

In [ ]:
def say_hello():
 print("Hello, World!")
greeting = say_hello # Assigning the function to a different name
greeting() # Calls the function
def say_hello():
 print("Hello, Python!")
say_hello() # Calls the updated function

Hello, World!
Hello, Python!

In [ ]:
def greet(name):
 return f"Hello, {name}!"
# Assign the function to a variable
my_function = greet
# Call the function using the variable
result = my_function("Alice")
print(result) # Output: Hello, Alice!

Hello, Alice!

In [ ]:
def apply(func, x):
 return func(x)
def square(x):
 return x * x
result = apply(square, 5)
print(result) # Output: 25

25

In [ ]:
def get_multiplier(factor):
  def multiplier(x):
    return x * factor
  return multiplier

double = get_multiplier(2)
triple = get_multiplier(3)
print(double(5)) # Output: 10
print(triple(5)) # Output: 15

10
15

In [ ]:
def my_function():
 x = 10 # x is in the local scope
 print(x)
def outer_function():
 y = 20 # y is in the enclosing scope
 def inner_function():
  print(y) # inner_function can access y from the enclosing scope
z = 30 # z is in the global scope
def another_function():
 print(z) # another_function can access z from the global scope
print(len("Hello, World!")) # len is a built-in function

13

In [ ]:
global_var = 10 # Global variable
def modify_global():
 global global_var # Use the global keyword to MODIFY the global variable
 global_var = 20
modify_global()
print(global_var) # This will print the modified global variable, which is 20

20

In [ ]:
def modify_list(my_list):
 my_list.append(4) # Modifying the list inside the function

my_list = [1, 2, 3]
modify_list(my_list)
print(my_list) # Output: [1, 2, 3, 4]

def reassign_list(my_list):
 my_list = [4, 5, 6] # Reassigning the list to a new object

my_list = [1, 2, 3]
reassign_list(my_list)
print(my_list) # Output: [1, 2, 3]

[1, 2, 3, 4]
[1, 2, 3]

In [ ]:
def modify_integer(x):
 x += 1 # Modifying the integer inside the function
my_integer = 5
modify_integer(my_integer)
print(my_integer) # Output: 5

5

In [ ]:
def product(a, b):
 print(a * b)
def product(a, b, c):
 print(a * b * c)
# product(4, 5) # Uncommenting this shows an error

product(4, 5, 5) # This line will call the last function
# Try using *args to solve that problem

100

In [ ]:
def factorial(n):
 if n == 0:
  return 1
 else:
  return n * factorial(n - 1)
result = factorial(5)
print(result) # Output: 120

120

In [ ]:
def divide(x, y):
 try:
  result = x / y
 except ZeroDivisionError:
  print("Error: Division by zero")
  return None
 except TypeError:
  print("Error: Invalid data types")
  return None
 except Exception as e:
  print(f"An unexpected error occurred: {e}")
  return None
 else:
  return result
 finally:
  print("Division operation complete")
# Example usages
print(divide(10, 2)) # Output: 5.0
print(divide(10, 0)) # Output: Error: Division by zero\nDivision operation complete\nNone
print(divide("10", 0)) # Output: Error: Invalid data types\nDivision operation complete\nNone

Division operation complete
5.0
Error: Division by zero
Division operation complete
None
Error: Invalid data types
Division operation complete
None

In [ ]:
def add(a, b):
 """
 This function adds two numbers together.

 Args:
 a (int): The first number to be added.
 b (int): The second number to be added.

 Returns:
 int: The sum of the two input numbers.

 Example:
 >>> add(3, 4)
 7
 """
 return a + b
help(add) # Displays the docstring

Help on function add in module __main__:

add(a, b)
    This function adds two numbers together.

    Args:
    a (int): The first number to be added.
    b (int): The second number to be added.

    Returns:
    int: The sum of the two input numbers.

    Example:
    >>> add(3, 4)
    7